body{
  margin: 0;
  padding: 0;
  background-color: #2E3440;
  background-size: cover;
}
.box{
  width: 450px;
  background-color: #3B4252;
	border-radius: 10px;
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 200;
}
.box h5{
  font-size: 22px;
  font-weight: 100;
	font-family: "Mononoki", monospace;
}
.box h6{
  font-size: 22px;
  font-weight: 100;
	font-family: "Mononoki", monospace;
}
.box p{

}
ul{
  margin: -10%;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: #8FBCBB;				
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #D8DEE9;
}
